<div class="success round progress"><span class="meter" style="width: 100%"></span></div>

<div class="row">
	<div class="small-2 columns"><i class="fa fa-check-circle-o fa-3x"></i></div>
	<div class="small-10 columns">
		<h3>Awesomesauce!</h3>
		<p>Your advice request has been confirmed, and sent out to over 1000 specialists. You will begin receiving pitches in the next 24 hours.</p>
	</div>
</div>

<ul class="button-group">

</ul>	

<ul class="button-group round">
	<li><a class="small button" ui-sref="seeking.requests">View Request</a></li>
	<li><a class="small button" ui-sref="seeking.specialists">Invite Specialists</a></li>
</ul>