<div class="small-12 primary round progress"><span class="meter" style="width: 33%"></span></div>

<p>Cool, we've found some specialties we think are relevant to your query. Please select as many as you can - this helps us connect you with the right specialist.</p>

<ul class="no-bullet">
	<li><label><input type="checkbox"> Rural Sales and Marketing</label></li>
	<li><label><input type="checkbox"> Home Sales and Marketing</label></li>
	<li><label><input type="checkbox"> Commercial Sales and Marketing</label></li>
	<li><label><input type="checkbox"> Property Management</label></li>
	<li><label><input type="checkbox"> Off the Plan Developments</label></li>
	<li><label><input type="checkbox"> Home and Personal Lending</label></li>
	<li><label><input type="checkbox"> Building, Construction and Rennovating</label></li>
</ul>

<p><a ui-sref="seeking.newRequest.register" class="button">Next</a></p>