<div class="small-12 primary round progress"><span class="meter" style="width: 66%"></span></div>

<p>Nearly there! Before we submit your request, we just need you to signup. After this, specialists will be notified of your request, and you should start receiving pitches within 24 hours.</p>

<a class="small button"><i class="fa fa-linkedin"></i> Sign in with linkedin</a><br>
<a class="small button"><i class="fa fa-facebook"></i> Sign in with facebook</a><br>
<a class="small button"><i class="fa fa-twitter"></i> Sign in with twitter</a><br>

<h3>Or signup manually</h3>

<p><input type="text" placeholder="Your Name"></p>
<p><input type="email" placeholder="Email Address"></p>
<p><input type="number" placeholder="Phone Number"></p>
<p><input type="password" placeholder="Password"></p>

<p><a class="button" ui-sref="seeking.newRequest.confirm">Submit Request</a></p>