<h2>Awesome. Who can we connect you to?</h2>
<ul class="button-group stack">
	<li><a class="medium button" ui-sref="seeking.specialists">I need Real Estate advice</a></li>
	<li><a class="medium button" ui-sref="seeking.specialists">I need Mortage advice</a></li>
	<li><a class="medium button" ui-sref="seeking.specialists">I need Legal advice</a></li>
	<li><a class="medium button" ui-sref="seeking.specialists">I need an Accountant</a></li>
	<li><a class="medium button" ui-sref="seeking.specialists">I need a Financial Planner</a></li>
	<!-- <li><a class="medium button" ui-sref="">I am looking for someone I know</a></li> -->
	<li><a class="medium button" ui-sref="seeking.newRequest.question">I'm not sure, need help deciding</a></li>
</ul>