<nav class="tab-bar">
    <section class="left-small" ng-show="registered">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
    </section>

    <section class="middle tab-bar-section">
        <h1 class="title">
        	<a ui-sref="home" ng-hide="states.registered"><span style="color: #008CBA;">adviice</span><span style="color: #f20000;">mrkt</span></a>
        	<a ui-sref="seeking.dashboard" ng-show="states.registered"><span style="color: #008CBA;">adviice</span><span style="color: #f20000;">mrkt</span></a>
        </h1>
    </section>

    <section class="right-small">
    	<i class="fa fa-question-circle" style="display: block; line-height: 44px; text-align: center;"></i>
    </section>
</nav>