<p>Whoah now! Before you can pitch, we need to get a little bit of information about you, so that we can pass it on to the client.</p>

<a class="small button"><i class="fa fa-linkedin"></i> Sign in with linkedin</a><br>
<a class="small button"><i class="fa fa-facebook"></i> Sign in with facebook</a><br>
<a class="small button"><i class="fa fa-twitter"></i> Sign in with twitter</a><br>

<h3>Or signup manually</h3>

<p><input type="text" placeholder="Your Name"></p>
<p><input type="email" placeholder="Email Address"></p>
<p><input type="number" placeholder="Phone Number"></p>
<p><input type="password" placeholder="Password"></p>

<p><a class="button" ui-sref="giving.opportunities">Back to pitches</a></p>