<h3>Select Skills</h3>
<p>Cool. Which industries do you specialise in? After this, we will show you people who need advice in your expertise.</p>
<ul class="no-bullet">
	<li><label><input type="checkbox">Accounting</label></li>
	<li><label><input type="checkbox">Financial Planning</label></li>
	<li><label><input type="checkbox">Legal</label></li>
	<li><label><input type="checkbox">Mortage Lending</label></li>
	<li><label><input type="checkbox">Real Estate</label></li>
</ul>

<a ui-sref="giving.register.opportunities" class="radius rounded button">See Opportunities <i class="fa fa-arrow-right"></i></a>