<div class="row">
  <div class="small-12 columns">
  	<p></p>
    <h2 class="text-center"><img src="images/logo.png" width="280px" height="112px" alt="" class="logo"></h2>
    <p>adviicemrkt connects you to specialists across Accounting, Financial Planning, Legal, Mortgage Lending and Real Estate. They are ready and waiting to chat with you - go meet your match!</p>

    <ul class="button-group round">
      <li><a href="#seeking" du-smooth-scroll class="small button">Seeking advice</a></li>
      <li><a href="#giving" du-smooth-scroll class="small alert button">Giving advice</a></li>
    </ul>

    <hr>
    
    <h3 id="seeking">I am seeking advice. How does it work?</h3>

    <p>adviicemrkt has thousands of registered and verified advice specialists, who have knowledge in a huge range of subjects. You can either find specialists in a specific field, or post and open request where we will help you select what type of specialist you need.</p>
    <p>Once your request has been submitted, we notify all relevant specialsts, and they in turn pitch to you. It's up to you to pick the person best suited for your needs.</p>

    <p><a class="button" ui-sref="seeking.query">Get started <i class="fa fa-arrow-right"></i></a></p>

    <hr>

    <h3 id="giving">I want to find clients. How does it work?</h3>
    <p>adviicemrkt is a competitive marketplace for specialists, where you can find and meet new clients who are after your services. When you get started, you will see opportunities relevant to your skills. You can then pitch directly to these clients, in order to secure their business. We just do the meet and greet. You do the advising.</p>
    <p><a class="button" ui-sref="giving.register.skills">Get started <i class="fa fa-arrow-right"></i></a></p>

    <p></p>
  </div>
</div>

<a ui-sref="home" class="return-to-home"><i class="fa fa-arrow-left"></i> Back to home</a>