<div class="row">
  <div class="small-12 columns">
  	<p></p>
    <h2><img src="images/logo.png" width="280px" height="112px" alt="" class="logo"></h2>
    <p>adviicemrkt connects you to specialists across Accounting, Financial Planning, Legal, Mortgage Lending and Real Estate. They are ready and waiting to chat with you - go meet your match!</p>
    <ul class="button-group stack">
    	<li><a ui-sref="giving.register.skills" class="alert button">I am a specialist <i class="fa fa-arrow-right"></i></a></li>
    	<li><a ui-sref="seeking.query" class="button">I am seeking advice <i class="fa fa-arrow-right"></i></a></li>
    	<li><a ui-sref="about" class="secondary button">Tell me more <i class="fa fa-question"></i></a></li>
    </ul>
  </div>
</div>